<footer class="page-footer">
    {% block footer %}
    <div class="text-center text-upper reduce-3">
        <a class="m-1 fg-white" href="https://minaprotocol.com">Mina Protocol</a>
        <span>&bull;</span><a class="m-1 fg-white" href="https://github.com/olton/mina-node-monitor">Mina Monitor</a>
        <span>&bull;</span><a class="m-1 fg-white" href="https://github.com/olton/mina-monitor-cluster">Mina Monitor Cluster</a>
        <span>&bull;</span><a class="m-1 fg-white" href="https://minacrypto.com/">Mina Directory</a>
    </div>
    <div class="powered-links mt-1 reduce-1">
        <span>Powered by: </span>
        <a class="fg-white" href="https://www.rust-lang.org/">Rust</a>
        <span>/</span><a class="fg-white" href="https://metroui.org.ua">Metro UI</a>
        <span>/</span><a class="fg-white" href="https://apexcharts.com/">ApexCharts</a>
    </div>
    <div class="mt-1">&copy; Copyright 2024 by <a class="fg-white" href="https://pimenov.com.ua/">Serhii Pimenov</a></div>
    {% endblock footer %}
</footer>
