<footer class="page-footer">
    {% block footer %}
    <div class="text-center mb-5">
        <div class="text-small">Address for project support:</div>
        <div class="fg-white text-bold d-none-fs d-block-md copy-data-to-clipboard c-pointer" title="Click to copy address to clipboard" data-value="B62qn7xfSA93rMAAfxze5DwrJEpa6251Y1dkDmsNjMkhnX2LvzsCp3w">B62qn7xfSA93rMAAfxze5DwrJEpa6251Y1dkDmsNjMkhnX2LvzsCp3w</div>
        <div class="fg-white text-bold d-block-fs d-none-md copy-data-to-clipboard c-pointer" title="Click to copy address to clipboard" data-value="B62qn7xfSA93rMAAfxze5DwrJEpa6251Y1dkDmsNjMkhnX2LvzsCp3w">B62qn7xfSA93...hnX2LvzsCp3w</div>
        <div class="text-small"><span>PayPal Address:</span><span class="ml-2 fg-white text-bold c-pointer" title="CLick to copy address to clipboard" data-value="serhii@pimenov.com.ua">serhii@pimenov.com.ua</span></div>
    </div>

    <div class="text-center text-upper reduce-1 d-flex flex-justify-center">
        <div class="text-bold border bd-darkGray border-radius-10 p-4">
            <div class="mr-2 reduce-2 text-light">Supported by</div><a class="fg-white d-inline-flex flex-align-center" href="https://www.minafoundation.com/"><img src="/images/mina-light.svg" style="height: 12px"><span class="ml-1 enlarge-4">Foundation</span></a>
        </div>
    </div>

    <div class="text-center text-upper reduce-1 mb-4 mt-4">
        <span class="h5"><span class="fg-cyan mr-1">Made in</span><span class="fg-yellow">Ukraine</span></span>
    </div>

    <div class="text-center text-upper reduce-3">
        <a class="m-1 fg-white" href="https://minaprotocol.com">Mina Protocol</a>
        <span>&bull;</span><a class="m-1 fg-white" href="https://github.com/olton/mina-node-monitor">Mina Monitor</a>
        <span>&bull;</span><a class="m-1 fg-white" href="https://github.com/olton/mina-monitor-cluster">Mina Monitor Cluster</a>
        <span>&bull;</span><a class="m-1 fg-white" href="https://minacrypto.com/">Mina Directory</a>
    </div>
    <div class="powered-links mt-1 reduce-1">
        <span>Powered by: </span>
        <a class="fg-white" href="https://www.rust-lang.org/">Rust</a>
        <span>/</span><a class="fg-white" href="https://metroui.org.ua">Metro UI</a>
        <span>/</span><a class="fg-white" href="https://apexcharts.com/">ApexCharts</a>
    </div>
    <div class="mt-1">&copy; Copyright 2020-2024 by <a class="fg-white" href="https://pimenov.com.ua/">Serhii Pimenov</a></div>
    {% endblock footer %}
</footer>
