<script>
    globalThis.config = {};
    globalThis.config.datetime_format = "{{ config.datetime_format }}";
    globalThis.config.date_format = "{{ config.date_format }}";
    globalThis.config.time_format = "{{ config.time_format }}";
    globalThis.config.server_address = "{{ config.server_address }}";
    globalThis.config.server_port = parseInt("{{ config.server_port }}");
</script>
<script src="//cdn.metroui.org.ua/dev/metro.js"></script>
<script src="//cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/default/qrcode.js"></script>
<script src="/js/default/global.js"></script>
<script src="/js/default/console.js"></script>
<script src="/js/default/utils.js"></script>
<script src="/js/default/websocket.js"></script>
<script src="/js/default/metro.js"></script>
