{% extends "layouts/base.html" %}
{% block title %}Minataur - The fastest blockchain explorer for Mina Protocol{% endblock title %}

{% block hero %}
<div class="d-flex flex-align-center">
    <a href="https://minaprotocol.com" class="mt-1 mr-2 d-flex flex-align-center no-decor">
        <img src="/static/images/bull.webp" alt="Logo" height="72"/>
        <div class="mt-2">
            <div class="mina-image-dark">
                <img src="/static/images/mina.svg" alt="" height="23" class="mb-1">
            </div>
            <div class="mina-image-light">
                <img src="/static/images/mina-light.svg" alt="" height="23" class="mb-1">
            </div>
        </div>
        <div class="enlarge-9 fg-red">TAUR</div>
    </a>
    <div class="h3 text-light">
        <div class="mt-1" data-role="typer" data-cursor="_" data-delete-delay="3000">
            Fastest explorer for Mina blockchain!,
            Live data for all...,
            ...Blocks,
            ...Transactions,
            ...Accounts,
            ...ZkApps,
            Analytic data and tools...,
            RESTful and GraphQL API...
        </div>
    </div>
</div>
{% endblock hero %}

{% block content %}
{% endblock content %}